#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 0;
    flex-direction: row; /* Default to row layout */
}

.worksImgs a {
    display: flex; /* Change to flex to accommodate below adjustments */
    flex: 1 1 auto; /* Adjust this to manage space distribution */
    align-items: center;
    justify-content: center;
}

.worksImg {
    object-fit: cover;
    width: 100%; /* Adjust based on your design requirements */
    max-width: 300px; /* Adjust the max width as per your layout */
    margin: 0.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.worksImgs a:hover .worksImg {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .worksImgs {
        flex-direction: column; /* Stack images in a column on smaller screens */
    }

    .worksImg {
        width: 90%; /* Adjust to use more of the screen width on smaller devices */
        max-width: none; /* Remove max-width restriction */
    }
}
